* {
    font-family: sans-serif;
    line-height: 1.4em;
}

#juan {
    background-color: yellow;

    display: inline-block;

    width: 400px;
    height: 200px;
    border: 5px dashed black;
}

#carlos {
    background-color: greenyellow;

    display: inline-block;

    width: 400px;
    height: 200px;

    border: 5px dashed black;
}
