* {
    margin: 0;
    font-family: sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #242330;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 3em;
}

nav>ul {
    display: flex;
    list-style: none;
}

header li>a {
    text-decoration: none;
    color: white;
    padding: 1em;
    display: block;
    border-radius: 5px;  
}

header li>a:hover {
    background-color: #2e2d3c;
}

header li>a[aria-current="page"] {
    background-color: #13121f;
}

main {
    display: grid;
    place-items: center;
    gap: 1em;
}

footer {
    text-align: center;
    padding: 1.5em;
    color: #545455;
}