* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    width: 80%;
    margin: auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

article>p {
    width: 45ch;
}

article>h1 {
    font-size: 65pt;
    margin: 0;
    position: relative;
    color: #60ab9a;
}

article>h1::after {
    content: "Coming soon!";
    color: #FC5555;
    font-size: 28pt;
    position: absolute;
    bottom: 0px;
    transform: translateX(-60%) rotateZ(-15deg);
}

article>p, section>h1, input, footer {
    font-size: 16pt;
}

label {
    display: block;
}

form {
    display: flex;
    align-items: flex-end;
    gap: 1em;
    flex-direction: row;
}

#img_gato {
    position: absolute;
    top: -290px;
    left: 600px;
    z-index: -10;
}

img {
    display: block;
    border-radius: 50%;
}

label {
    color: #8b8b8b;
    font-size: 13pt;
}

input {
    border: 0.15em solid #8b8b8b;
    padding: 0.35em;
}

input[type=submit] {
    color: white;
    background-color: #FC5555;
    border: none;
    padding: 0.5em;
}

@media (max-width: 900px) {

    body {
        height: auto;
    }

    form {
        flex-direction: column;
        align-items: stretch;
    }

    input {
        width: 100%;
    }

    article>p {
        width: 100%;
    }

    article>h1 {
        font-size: 50pt;

    }
    
    article>h1::after {
        font-size: 14pt;
    }
    
    article>p, section>h1, input, footer {
        font-size: 12pt;
    }

    #img_gato {
        position: static;
    }

    #img_gato>img {
        width: 100%;
        object-fit: cover;
        margin-top: 2em;
    }

    body {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}

@media (max-width: 400px) {

    form {
        flex-direction: column;
        align-items: stretch;
    }

    input {
        width: 100%;
    }

    article>p {
        width: 100%;
    }

    article>h1 {
        font-size: 32pt;

    }
    
    article>h1::after {
        font-size: 14pt;
    }
    
    article>p, section>h1, input, footer {
        font-size: 12pt;
    }

    #img_gato {
        position: static;
    }

    #img_gato>img {
        width: 100%;
        object-fit: cover;
        margin-top: 2em;
    }

    body {
        margin-top: 2em;
        margin-bottom: 2em;
    }
}